TARGET="dev"
ZRAPP_API_URL="https://api.zwiftracing.app/api/public/"
# Add these values
# - Create a motherduck account and get your token
MOTHERDUCK_TOKEN=""
# - Get an api key from Tim Hanson on the ZRapp discord
ZRAPP_API_KEY=""