# - Create a motherduck account and get your token
# - Get an api key from Tim Hanson on the ZRapp discord

SYSTEM="local"
TARGET="dev"
MOTHERDUCK_TOKEN=""

ZWIFT_USERNAME=""
ZWIFT_PASSWORD=""

ZWIFT_RACING__URL="https://api.zwiftracing.app/api/public/"
ZWIFT_RACING__KEY=""

GOOGLE_SHEETS__ZWIFT_ANALYTICS=""
GOOGLE_SHEETS__ZWIFT_ANALYTICS__EVENTS_SHEET=""
GOOGLE_SHEETS__ZWIFT_ANALYTICS__RIDERS_SHEET=""
GOOGLE_SHEETS__ZWIFT_ANALYTICS__SEASONS_SHEET=""